{% layout "layout.liquid" %}
{% block content %}

    <h1>Welcome!</h1>
    <div>
        <img src="" alt="">
        <a href=""><h2>Top Cats</h2></a>
    </div>
    <div>
        <img src="" alt="">
        <a href=""><h2>Cat Breeds</h2></a>
    </div>
    <div>
        <img src="" alt="">
        <a href=""><h2></h2></a>
    </div>
{% endblock %}