body {
    background-image: url('./img/background.jpg');
}

#catImg {
    height: 500px;

}
#favImg {
    height: 250px;
}

.white {
    background-color: white;
    width: max-content;
}

.smallCatImg {
    width: 200px;
}