{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-md">
        <h2 class="display-6">All My Cats</h2>
        <div class="row">
            {% for cat in cats %}
                <div class="card" style="width: 18rem;">
                    <!-- card header -> name of fruit -->
                    <!-- card body -> ready to eat as title, color as text-->
                    <h5 class="card-header">{{cat.title}}</h5>
                    <div class="card-body">
                        <img src="{{ cat.imgUrl }}" alt="" id="favImg">
                        <a href="/cat/{{ cat._id }}" class="btn btn-info">
                            View {{ cat.title }}
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
<!-- let me ask you this -->